* {
  outline: none;
  box-sizing: border-box;
}

*:focus {
  outline: none;
  box-shadow: none;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}
.gm-style-iw button {
  display: none !important;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.navbarTitle {
  margin-top: 10px;
  font-size: xx-large;
  font-weight: 700;
}

.map {
  display: inline-block;
  margin-right: 20px;
}

.rankingList {
  overflow-y: scroll;
  list-style-type: none;
  width: 100%;
  /* border: 1px solid black; */
  padding: 10px;
}

.areaName {
  margin-right: 50px;
  word-wrap: break-word;
}

.rangeList {
  display: flex;
  height: 77vh;
  width: 30%;
  float: right;
  flex-direction: column;
  margin-top: 0px;
  padding-top: 0px;
}

.heading {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  padding: 10px;
  border-bottom: 1px solid gray;
  margin-bottom: 3px;
  margin-top: 3px;
}

.rankingList li {
  margin-bottom: 15px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  /* background-color: #cfcece; */
  font-weight: 400;
  border-radius: 10px !important;
}

.rankingList :last-child {
  margin-bottom: 0px;
}

.rankingList::-webkit-scrollbar {
  float: right;
}

.headingArea {
  cursor: pointer;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 7px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  margin-top: 5px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-bottom: 1px;
}

.dropDown {
  width: 200px;
  margin: 10px 0px;
}

.legendParent {
  display: inline-block;
  margin-top: 10px;
}

.legendTitle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.legendTitle p {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.legendBoxes {
  display: flex;
  background: linear-gradient(to right, #d8d9d9, #4a4b4d);
}

.legendBox {
  display: inline-block;
  border: 1px solid black;
  width: 60px;
  height: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
